body {
 width: 100%;
 max-width: 100vw;
 overflow-x:hidden;
 font-size: 0;
 padding: 0;
 margin: 0;
 font-family: Gotham Pro;
 font-weight: 400;
 float: left;
 color: #4b414c;
}

p {
 font-weight: 400;
}

button:focus, input:focus {
 outline: none;
 cursor: pointer;
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
a[href^=tel] { color: inherit; text-decoration: none; }
ul {
 list-style: none;
}
div {
 float: left;
 position: relative;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type='text']:focus::-webkit-input-placeholder {color:transparent;}
input[type='text']:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
input[type='text']:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
input[type='text']:focus:-ms-input-placeholder      {color:transparent;}

.content {
 min-height: 100vh;
 width: 100%;
 background-color:#fff;
 overflow-x:hidden;
}
ul:focus {
  outline: none;
}
.mobile {
  display: none;
}

/* ================================ */

.container {
  width: 1280px;
  margin:0 auto;
  height: 100%;
  float: none;
}
header {
  float: left;
  position: relative;
  width: 100%;
  height: calc(100vh - 16vw);
}
header>.container {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  height: auto;
}
.topBar {
  width: 100%;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.topBar .topBar_wrap {
  width: 100%;
  border-bottom:1px solid #e9e9e9;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topBar .topBar_wrap .logo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topBar .topBar_wrap img {
  width: 195px;
  margin-right: 10px;
  float: left;
}
.topBar .topBar_wrap .slogan {
  padding-left: 10px;
  border-left: 2px solid #000;
  font-size: 0.9rem;
  color: #afafaf;
}
.topBar .topBar_wrap .callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topBar .topBar_wrap .callback>a>i {
  color: #c2c945;
  font-size: 1.4rem;
  margin-right: 10px;
}
.topBar .topBar_wrap .callback a {
  font-size: 1.2rem;
  color: #4b414c;
}
.topBar .topBar_wrap .callback a:hover {
  color: #c2c945;
}
.topBar .topBar_wrap .callback button {
  width: 250px;
  height: 30px;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
  background-color: #53947e;
  border-radius:15px;
  border:none;
  margin-left: 30px;
  cursor: pointer;
}
.topBar nav {
  float: left;
  height: 60px;
  width: 100%;
}
.topBar nav>ul {
  padding: 0;
  height: 100%;
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topBar nav>ul>li {
  float: left;
  display: inline-block;
  height: 100%;
  position: relative;
}
.topBar nav>ul>li>a {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #4b414c;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}
.topBar nav>ul>li>a:hover {
  color: #c2c945;
}
.topBar nav>ul>li>ul.submenu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 250px;
  background-color: #fff;
  padding-left: 0;
}
.topBar nav>ul>li:hover>ul.submenu {
  display: block;
}
.topBar nav>ul>li:hover>a>i {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.topBar nav>ul>li>ul.submenu>li {
  width: 100%;
  display: block;
  padding: 10px;
}
.topBar nav>ul>li>ul.submenu>li>a {
  font-size: 0.7rem;
  color: #4b414c;
  text-transform: uppercase;
}
.topBar nav>ul>li>ul.submenu>li>a:hover {
  color: #c2c945;
}

.header_slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider_block {
  width: 100%;
  height: 100%;
  display: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider_block.active {
  display: block;
}
#slide-one {
  background-image: url(../img/1.JPG);
}
#slide-two {
  background-image: url(../img/2.jpg);
}
#slide-three {
  background-image: url(../img/3.jpg);
}
#slide-four {
  background-image: url(../img/4.jpg);
}
.slider_block .slogan {
  margin-top: 150px;
  padding-top: 6vh;
  margin-left: 30%;
  width: 70%;
  font-size: 2.3rem;
  font-family:  Gotham Pro Lt;
  font-weight: 300;
}
.slider_block .slogan span {
  margin-bottom: 20px;
  display: inline-block;
}
.slider_block .slogan>span.bold {
  font-family:  Gotham Pro Bd;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.slider_block .slogan>span.last {
  margin-left: 20%;
}
.slider_block button {
  margin-left: 70%;
  width: 200px;
  height: 60px;
  background-color: #bec63d;
  color: #fff;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  margin-top: 16vh;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.slider_block button:hover {
  background-color: #fff;
  color: #bec63d;
}

.pagination {
  position: absolute;
  top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}
.pagination_block {
  width: 7.3vw;
  height: 7.3vw;
  position: relative;
  cursor: pointer;
}
#pag-one {
  background-color: #53947e;
}
#pag-two {
  background-color: #322634;
}
#pag-three {
  background-color: #fff;
}
#pag-four {
  background-color: #c3ca46;
}
.pagination_block>span {
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 4rem;
  color: #fff;
  opacity: 0.2;
  font-family:  Gotham Pro Bd;
  pointer-events: none;
}
#pag-three>span {
  color: inherit;
}
.pagination_block>.link {
  position: absolute;
  top: 0;
  left: 7.3vw;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0vw;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;

  text-align: center;
}
.pagination_block:hover>.link {
  width: 16vw;
}
.pagination_block>.link>a {
  font-size: 1rem;
  color: #fff;
  opacity: 0;
  text-transform: uppercase;
  font-family:  Gotham Pro Lt;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pagination_block:hover>.link>a {
  opacity: 1;
}
#pag-three>.link>a {
  color: inherit;
}

.decorativeLeft {
  position: absolute;
  z-index: 2;
  background-color: #53947e;
  opacity: 0.2;
  top:0;
  left: 0;
  height: calc(7.3vw + 135px);
}
.decorativeRight {
  position: absolute;
  z-index: 2;
  background-color: #322633;
  opacity: 0.1;
  top:135px;
  height: 7.3vw;
  right: 0;
}

@media all and (max-width:1550px) {
  .container {
    width: 1100px;
  }
  .pagination_block>span {
    font-size: 3rem;
    right: -3px;
    top: -1px;
  }
  .slider_block .slogan {
    font-size: 1.8rem;
  }
  .slider_block .slogan>span.bold {
    font-size: 2rem;
  }
}

@media all and (max-width:1320px) {
  .container {
    width: 900px;
  }
  .topBar .topBar_wrap .callback button {
    width: 155px;
    margin-left: 15px;
  }
  .topBar .topBar_wrap .logo_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 195px;
  }
  .topBar .topBar_wrap .slogan {
    border: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    font-size: 0.7rem;
  }
  .topBar .topBar_wrap .callback a {
    font-size: 1rem;
  }
  .topBar .topBar_wrap .callback>a>i {
    font-size: 1rem;
    margin-right: 5px;
  }
  .topBar nav>ul>li>a {
    font-size: 0.6rem;
  }
  .topBar nav>ul>li>ul.submenu {
    width: 150px;
  }
  .topBar nav>ul>li>ul.submenu>li>a {
    font-size: 0.5rem;
  }
  .pagination_block>span {
    font-size: 2.5rem;
    right: -1px;
  }
  .slider_block .slogan>span.bold {
    font-size: 1.8rem;
  }
}
@media all and (max-width:1080px) {
  .container {
    width: 700px;
  }
  .topBar nav>ul>li>a {
    font-size: 0.5rem;
  }
  .topBar nav>ul>li>ul.submenu>li>a {
    font-size: 0.45rem;
  }
  .topBar nav>ul>li>ul.submenu {
    width: 130px;
  }
  .pagination_block>span {
    font-size: 2rem;
    top: 0;
    right: 0;
  }
  .pagination_block>.link>a {
    font-size: 0.7rem;
  }
  .slider_block .slogan>span.bold, .slider_block .slogan {
    font-size: 1.4rem;
  }
  .slider_block button {
    width: 160px;
    height: 50px;
    border-radius: 25px;
    font-size: 0.7rem;
  }
  .topBar .topBar_wrap .callback button {
    font-size: 0.6rem;
  }
}


/* ==================================== */
footer {
  width: 100%;
  background-color: #e8e8e8;
}
footer>.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}
footer .logo_wrap {
  width: 15%;
  margin-right: 10px;
}
footer .logo_wrap>img {
  width: 100%;
}
footer>.container>.policies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer>.container>.policies>a {
  font-family: Gotham Pro;
  font-style: italic;
  font-size: 0.8rem;
  color: #959595;
  display: inline;
  margin-right: 20px;
}
footer>.container>.policies>a:hover {
  color: #bec63d;
}
footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .social_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .social_wrap a {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #54937e;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: #54937e;
  font-size: 0.8rem;
  margin-right: 0.7vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .social_wrap a:last-child {
  margin-right: 0;
}
footer span {
  font-size: 0.8rem;
  min-width: 70px;
  margin-left: 10px;
}
@media all and (max-height:1050px) {
  header {
    height:100vh;
  }
}
@media all and (max-width:1550px) {
  footer .social_wrap a {
    margin-right: 5px;
  }
}
@media all and (max-width:1320px) {
  footer span, footer>.container>a {
    font-size: 0.6rem;
  }
  footer>.container {
    height: 70px;
  }
  footer .social_wrap a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.6rem;
  }
}
@media all and (max-width:1080px) {
  footer .logo_wrap {
    width: 20%;
  }
}



/* ============================================= */

@media all and (max-width:920px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  /* HEADER */
  header {
    min-height: 600px;
  }
  .topBar nav>ul>li>ul.submenu {
    top: 35px;
  }
  .decorativeRight, .decorativeLeft, .topBar .topBar_wrap .slogan {
    display: none;
  }
  .pagination_block {
    width: 25%;
    height: 70px;
  }
  .pagination {
    width: 100%;
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topBar {
    padding: 0 15px;
  }
  .topBar .topBar_wrap {
    height: 50px;
  }
  .topBar nav {
    height: 35px;
  }
  .topBar nav>ul>li>a {
    line-height: 35px;
  }
  .topBar nav>ul>li {
    line-height: 35px;
  }
  .slider_block .slogan {
    margin-top: 90px;
  }
  .topBar .topBar_wrap .callback button {
    height: 25px;
  }
  .topBar .topBar_wrap img {
    width: 150px;
  }
  .pagination {
    z-index: 5;
  }
  .pagination_block>.link {
    left: 0;
    height: 50px;
    top: 0px;
    width: 100vw;
    z-index: -1;
  }
  .pagination_block.active>.link {
    top: -50px;
  }
  .pagination_block>.link>a {
    opacity: 1;
  }
  .pagination_block:hover>.link {
    width: 100vw;
  }
  .pagination_block:nth-child(2)>.link {
    left: -100%;
  }
  .pagination_block:nth-child(3)>.link {
    left: -200%;
  }
  .pagination_block:nth-child(4)>.link {
    left: -300%;
  }
  .slider_block button {
    height: 40px;
    border-radius: 20px;
    margin-top: 12vh;
  }

  /* FOOTER */
  footer .logo_wrap {
    width: 15%;
  }
}


@media all and (max-width:800px) {
  /* HEADER */
  .topBar nav {
    display: none;
  }
  .topBar .topBar_wrap {
    border-bottom: none;
  }
  .mobile {
    display: block;
  }
  .topBar .topBar_wrap .callback button {
    height: 50px;
    border-radius: 0px;
    margin-left: 0;
    font-size: 0.9rem;
    width: 255px;
    margin-right: 100px;
  }
  .topBar {
    padding: 0;
  }
  .menu_trigger {
    height: 50px;
    width: 50px;
    background-color: #322634;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu_trigger .hamburger {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .menu_trigger .hamburger>i {
    line-height: 50px;
    font-size: 1.7rem;
    margin: 0;
    color: #fff;
  }
  .menu_trigger .hamburger>i.fa-times {
    display: none;
  }
  .menu_trigger.active {
    background-color: #fff;
  }
  .menu_trigger.active .hamburger>i.fa-times {
    display: block;
    color:#322634;
  }
  .menu_trigger.active .hamburger>i.fa-bars {
    display: none;
  }
  .topBar .topBar_wrap .callback a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #bec63d;
    text-align: center;
    position: absolute;
    top: 0;
    right: 50px;
    transition: all .2s linear;
  }
  .topBar .topBar_wrap .callback a>span {
    display: none;
  }
  .topBar .topBar_wrap .callback.active {
    width: 100%;
  }
  .topBar .topBar_wrap .callback.active a {
    width:calc(100vw - 50px);
    text-align:left;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .topBar .topBar_wrap .callback.active a>span {
    display: inline-block;
    color: #fff;
    font-family: Gotham Pro Lt;
    margin-left: 10px;
    font-size: 1.1rem;
  }
  .topBar .topBar_wrap .callback a>i {
    color: #fff;
    line-height: 50px;
    margin-right: 0;
    font-size: 1.7rem;
  }
  .slider_block .slogan {
    margin-left: 0;
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
  .slider_block .slogan>span.bold {
    font-size: 2.2rem;
  }
  .slider_block .slogan>span.last {
    margin-left: 0;
  }
  .slider_block button {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 250px;
    height: 60px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .topBar .topBar_wrap img {
    width: 100%;
  }
  .topBar .topBar_wrap .logo_wrap {
    width: 30%;
    min-width: 200px;
    padding-left: 20px;
    display: block;
  }
  .pagination_block>.link>a {
    font-size: 0.9rem;
  }
  #mobile_navigation {
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 10;
    display: none;
  }
  #mobile_navigation>ul {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 40px;
    float: left;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  #mobile_navigation>ul>li {
    width: 100%;
    padding: 20px 0;
    float: left;
    font-size: 1rem;
    color:#322634;
    text-transform: uppercase;
  }
  #mobile_navigation>ul>li>a {
    font-size: 1rem;
    color:#322634;
    text-transform: uppercase;
  }
  #mobile_navigation>ul>li:hover {
    color:#bec63d;
  }
  #mobile_navigation>ul>li>a:hover {
    color:#bec63d;
  }
  #mobile_navigation>ul>li>.submenu {
    margin: 0;
    padding-left: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    display: none;
    margin-top: 20px;
  }
  #mobile_navigation button.emergency {
    margin:50px auto;
    display: block;
    width: 280px;
    height: 40px;
    border-radius: 20px;
    background-color: #53947e;
    color: #fff;
    font-size: 0.9rem;
    border:none;
  }
  #mobile_navigation>ul>li>.submenu>li {
    width: 100%;
    padding: 10px 0;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #mobile_navigation>ul>li>.submenu>li>a {
    font-size: 1rem;
    color:#322634;
    text-transform: uppercase;
  }
  #mobile_navigation>ul>li>.submenu>li>a:hover {
    color:#bec63d;
  }

  /* FOOTER */
  footer {
    background-color: #fff;
  }
  footer .logo_wrap {
    display: none;
  }
  footer>.container {
    display: block;
    float: left;
    height: auto;
    padding: 0;
  }
  footer>.container>.policies {
    display: block;
    text-align: center;
  }
  footer>.container>.policies>a {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 10px;
  }
  footer>.container>.policies>a:last-child {
    margin: 0;
  }
  footer .policies {
    width: 100%;
    padding: 20px 15px;
  }
  footer .copyright {
    margin-top:10px;
    width: 100%;
    background-color: #e8e8e8;
    height: 60px;
    padding: 0 15px;
  }
  footer .social_wrap {
    float: none;
    width: 140px;
    display: inline-block;
  }
  footer .social_wrap a {
    width: 30px;
    min-width: 30px;
    height: 30px;
    font-size: 1rem;
    line-height: 28px;
  }
  footer span {
    font-size: 1rem;
    margin-left: 40px;
  }

}


@media all and (max-width:640px) {
  .topBar .topBar_wrap .callback button {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 9;
    width: 100vw;
  }
  .topBar .topBar_wrap .callback {
    position: static;
  }
}

@media all and (max-width:500px) {
  .topBar .topBar_wrap .callback button {
    text-transform: uppercase;
  }
  .slider_block .slogan {
    padding-top: 12vh;
  }
  .slider_block .slogan {
    font-size: 1.8rem;
    color: #fff;
  }
  .slider_block .slogan>span.bold {
    font-size: 1.8rem;
    color: #fff;
  }
  #slide-one {
    background-image: url(../img/1_mobile.JPG);
  }
  #slide-two {
    background-image: url(../img/2_mobile.jpg);
  }
  #slide-three {
    background-image: url(../img/3_mobile.jpg);
  }
  #slide-four {
    background-image: url(../img/4_mobile.jpg);
  }
  .slider_block button {
    margin-top: 16vh;
    height: 70px;
    border-radius: 35px;
  }
  #pag-three {
    background-color: #322634
  }
  #pag-three>span {color: #fff}
  .pagination_block#pag-three>.link>a{color: #fff}
  #pag-two {
    background-color: #fff
  }
  #pag-two>span, .pagination_block#pag-two>.link>a {color: #322634}

}



@media all and (max-width:400px) {
  #mobile_navigation>ul>li,
  #mobile_navigation>ul>li>a {
    font-size: 0.8rem;
  }
  #mobile_navigation>ul>li>.submenu>li>a {
    font-size: 0.7rem;
  }

  .pagination_block>span {
    font-size: 2.5rem;
  }

  /* FOOTER */
  footer span {
    margin-left: 10px;
    font-size: 0.9rem;
  }
  
  .slider_block button {
    margin-top: 10vh;
    height: 60px;
    border-radius: 30px;
    width: 200px;
    font-size: 0.9rem;
  }
  .slider_block .slogan {
    font-size: 1.4rem;
  }
  .slider_block .slogan>span.bold {
    font-size: 1.6rem;
  }


}

@media all and (max-width:350px) {
  footer .social_wrap a {
    width: 25px;
    height: 25px;
    min-width: 25px;
    line-height: 25px;
    font-size: 0.8rem;
  }
  footer .social_wrap {
    width: 115px;
  }
  footer>.container>.policies>a {
    font-size: 0.8rem;
    margin-right: 0;
  }
  footer span {
    width: 140px;
    font-size: 0.7rem;
  }
}

