
.huge_bcg {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(../img/huge_bcg.jpg);
}

/* ======================== */
.contacts .slider_block {
  display: block;
  background-image: url(../img/contacts_bcg.jpg);
}
.contacts .pagination_block {
  width: 21.9vw;
  background-color: #c3ca46;
  text-align: center;
}
.contacts .pagination_block>h1 {
  line-height: 7.3vw;
  font-size: 2rem;
  opacity: 1;
  position: static;
  font-family: Gotham Pro Lt;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 300;
}
.contacts .slider_block .slogan>span.bold {
  text-transform: none;
}
.contacts .slider_block .slogan>span.last {
  margin-left: 7%;
}
.contacts .slider_block .slogan span:last-child {
  font-weight: 700;
  font-family: Gotham Pro Bd;
  margin-left: 25%;
  margin-top: 4vh;
  font-size: 3rem;
}
@media all and (max-width:1550px) {
  .contacts .pagination_block>h1 {
    font-size: 1.6rem;
  }
}
@media all and (max-width:1080px) {
  .contacts .slider_block .slogan span:last-child {
    font-size: 2.4rem;
  }
  .contacts .pagination_block>h1 {
    font-size: 1.2rem;
  }
}
@media all and (max-width:920px) {
  .contacts .pagination_block {
    width: 100%;
  }
  .contacts .pagination_block>h1 {
    line-height: 70px;
  }
  .contacts .slider_block .slogan {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .contacts .slider_block .slogan>span.last {
    margin-left: 0;
  }
  .contacts .slider_block .slogan span:last-child {
    margin-left: 0;
  }
}
@media all and (max-width:640px) {
  .contacts .slider_block .slogan>span.bold {
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  .contacts .slider_block .slogan>span.last {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .contacts .slider_block .slogan span:last-child {
    font-size: 1.8rem;
    margin-top: 0;
  }
}
@media all and (max-width: 500px) {
  .contacts .slider_block {
    background-image: url(../img/contacts_mobile_bcg.jpg);
  }
}
@media all and (max-width:350px) {
  .contacts .slider_block .slogan>span.bold {
    font-size: 1.5rem;
  }
  .contacts .slider_block .slogan>span.last {
    font-size: 1.5rem;
  }
  .contacts .slider_block .slogan span:last-child {
    font-size: 1.7rem;
  }
}


/* ============================ */
.contacts .form {
  width: 100%;
}
.contacts .form .leftPart {
  width: 50%;
}
.contacts .form .leftPart .bymail {
  font-size: 2rem;
  font-family: Gotham Pro Lt;
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%;
}
.contacts .form .leftPart .link {
  padding-left: 30%;
  margin-bottom: 90px;
  width: 100%;
}
.contacts .form .leftPart .link>i {
  font-size: 2rem;
  color: #53947e;
  margin-right: 20px;
}
.contacts .form .leftPart .link>a {
  font-size: 1.6rem;
  font-family: Gotham Pro Lt;
  color: #53947e;
}
.contacts .form .leftPart .link>a:hover {
  text-decoration: underline;
}
.contacts .form .leftPart .variant {
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 60px;
}
.contacts .form .leftPart .arrow {
  width: 190px;
  height: 170px;
  margin-left: 23%;
}
.contacts .form .leftPart .arrow>img {
  width: 100%;
  height: 100%;
}
.contacts .form .form_wrap {
  width: 50%;
  background-color: #322634;
  padding: 50px;
  color: #fff;
  text-align: center;
}
.contacts .form .form_wrap>.title {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Gotham Pro Lt;
}
.contacts .form .form_wrap>p {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  line-height: 1.6;
}
.contacts .form .form_wrap>p>a[href="tel:+74956637271"] {
  font-family: Gotham Pro Bd;
}
.contacts .form .form_wrap>p>a[href="mailto:info@hypermetrica.ru"] {
  color:#c3ca46;
}
.contacts .form .form_wrap form {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  float: left;
  padding-bottom: 30px;
}
.contacts .form .form_wrap form>.input_wrap {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
.contacts .form .form_wrap form>.input_wrap>.title {
  font-size: 0.8rem;
  color: #fff;
}
.contacts .form .form_wrap form>.input_wrap>.title>span {
  color:#c3ca46;
}
.contacts .form .form_wrap form>.input_wrap>input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #5c505c;
  color: #aea7ae;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contacts .form .form_wrap form>.input_wrap>.placeholder {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 0.9rem;
  color: #aea7ae;
}
.contacts .form .form_wrap form>.input_wrap>input[type="phone"] {
  padding-left: 20px;
}
.contacts .form .form_wrap form>.input_wrap>input.website {
  padding-left: 40px;
}
.contacts .form .form_wrap form>.checkbox_wrap {
  width: 100%;
  text-align: center;

}
.contacts .form .form_wrap form>.checkbox_wrap>input {
  display: none;
}
.contacts .form .form_wrap form>.checkbox_wrap>label {
  font-size: 0.8rem;
  color: #aea7ae;
  width: 100%;
  position: relative;
  cursor: pointer;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding-left: 30px;
  display: block;
}
.contacts .form .form_wrap form>.checkbox_wrap>label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border:1px solid #5c505c;
  position: absolute;
  left: 0px;
  top: -5px;
}
.contacts .form .form_wrap form>.checkbox_wrap>input:checked + label:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/checked.png);
}
.contacts .form .form_wrap form>button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #c3ca46;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: Gotham Pro Bd;
  margin-top: 50px;
}



@media all and (max-width:1320px) {
  .contacts .form .form_wrap {
    padding: 50px 30px;
  }
  .contacts .form .form_wrap>.title {
    font-size: 2rem;
    margin-top: 30px;
  }
  .contacts .form .form_wrap>p {
    font-size: 0.7rem;
  }
  .contacts .form .form_wrap form {
    margin-top: 15px;
  }
  .contacts .form .form_wrap form>.input_wrap {
    margin-bottom: 30px;
  }
  .contacts .form .form_wrap form>button {
    margin-top: 20px;
  }
  .contacts .form .form_wrap form>.checkbox_wrap>label:before {
    top: 0;
  }
  .contacts .form .leftPart .link {
    padding-left: 15%;
  }
  .contacts .form .leftPart .arrow {
    width: 160px;
    height: 130px;
  }
}
@media all and (max-width:1080px) {
  .contacts .form .form_wrap>.title {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .contacts .form .form_wrap>p {
    font-size: 0.6rem;
    margin-bottom: 10px;
  }
  .contacts .form .form_wrap form {
    padding: 0 10px;
    padding-bottom: 30px;
  }
  .contacts .form .form_wrap form>.input_wrap>.title {
    font-size: 0.6rem;
  }
  .contacts .form .form_wrap form>.input_wrap>input {
    height: 25px;
    font-size: 0.7rem;
  }
  .contacts .form .form_wrap form>.input_wrap>.placeholder {
    font-size: 0.7rem;
    bottom: 7px;
  }
  .contacts .form .form_wrap form>.input_wrap>input[type="phone"] {
    padding-left: 15px;
  }
  .contacts .form .form_wrap form>.input_wrap>input.website {
    padding-left: 31px;
  }
  .contacts .form .form_wrap form>.checkbox_wrap>label {
    font-size: 0.6rem;
  }
  .contacts .form .form_wrap form>.checkbox_wrap>label:before {
    width: 15px;
    height: 15px;
  }
  .contacts .form .form_wrap form>button {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    font-size: 0.6rem;
  }
  .contacts .form .leftPart .bymail {
    font-size: 1.6rem;
    margin-top: 80px;
  }
  .contacts .form .leftPart .link>i {
    font-size: 1.6rem;
  }
  .contacts .form .leftPart .link>a {
    font-size: 1.4rem;
  }
}
@media all and (max-width:920px) {
  .contacts .form>.container {
    padding: 0;
  }
  .contacts .form .leftPart {
    padding: 0 15px;
  }
}

@media all and (max-width:800px) {
  .contacts .form .leftPart {
    width: 100%;
  }
  .contacts .form .leftPart .arrow {
    display: none;
  }
  .contacts .form .leftPart .bymail {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .contacts .form .leftPart .link {
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .contacts .form .leftPart .variant {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
  }
  .contacts .form {
    background-image: none;
  }
  .contacts .form .form_wrap {
    width: 100%;
    padding-bottom: 0;
  }
  .contacts .form .form_wrap>.title {
    font-size: 2rem;
  }
  .contacts .form .form_wrap>p,
  .contacts .form .form_wrap form>.input_wrap>.title {
    font-size: 0.9rem;
  }
  .contacts .form .form_wrap form>.input_wrap>input {
    height: 50px;
    font-size: 0.9rem;
  }
  .contacts .form .form_wrap form>.input_wrap>.placeholder {
    font-size: 0.9rem;
    bottom: 19px;
  }
  .contacts .form .form_wrap form>.input_wrap>input[type="phone"] {
    padding-left: 20px;
  }
  .contacts .form .form_wrap form>.input_wrap>input[type="phone"] ~ .placeholder {
    bottom: 20px;;
  }
  .contacts .form .form_wrap form>.input_wrap>input.website {
    padding-left: 40px;
  }
  .contacts .form .form_wrap form>.checkbox_wrap>label {
    font-size: 0.9rem;
  }
  .contacts .form .form_wrap form>button {
    width: 200px;
    height: 50px;
    font-size: 0.9rem;
    border-radius: 25px;
    margin-top: 40px;
  }
  .contacts .form .form_wrap form {
    padding-bottom: 50px;
  }
}
@media all and (max-width:500px) {
  .contacts .form .form_wrap>.title {
    font-size: 1.6rem;
  }
  .contacts .form .form_wrap>p>a[href="tel:+74956637271"] {
    display: block;
  }
  .contacts .form .form_wrap {
    padding: 50px 15px;
    padding-bottom: 0;
  }
  .contacts .form .form_wrap form {
    padding-left: 0;
    padding-right: 0;
  }

}
@media all and (max-width:350px) {
  .contacts .form .form_wrap form>button {
    font-size: 0.7rem;
  }
  .contacts .form .leftPart .bymail {
    font-size: 1.5rem;
  }
}
@media all and (max-width:320px) {
  .contacts .form .form_wrap>p>a[href="tel:+74956637271"] {
  display: inline-block;
  }
}


/* ===================== */
.ourAdress {
  width: 100%;
}
.ourAdress h2 {
  text-align: center;
  font-size: 2rem;
  font-family: Gotham Pro Lt;
  margin-top: 100px;
  margin-bottom: 70px;
  font-weight: 300;
}
.ourAdress h2>span {
  font-family: Gotham Pro Bd;
}
.ourAdress p {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 1rem;
  width: 700px;
  text-align: center;
}
.ourAdress .map {
  width: 100%;
  height: 650px;
}
@media all and (max-width:800px) {
  .ourAdress p {
    width: 95%;
  }
}
@media all and (max-width:640px) {
  .ourAdress .map {
    height: 70vh;
  }
}
@media all and (max-width:640px) {
  .ourAdress h2 {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .ourAdress p {
    margin-bottom: 30px;
  }
  .ourAdress p>span {
    display: block;
    margin-bottom: 20px;
  }
}

/* ===================== */
.forClients {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/forClients_bcg.jpg);
  text-align: center;
}
.forClients h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: Gotham Pro Lt;
  margin-top: 100px;
  margin-bottom: 70px;
  font-weight: 300;
  color: #fff;
}
.forClients h2>span {
  font-family: Gotham Pro Bd;
}
.forClients .support {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 40px;
}
.forClients .support>span {
  font-size: 1.6rem;
  font-family: Gotham Pro Lt;
  color: #fff;
  line-height: 1.3;
}
.forClients .support>span>a {
  font-family: Gotham Pro Bd;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.3;
}
.forClients .serviceDesk {
  width: 100%;
  text-align: center;
  padding: 0 40px;
  margin-bottom: 100px;
}
.forClients .serviceDesk>span {
  font-size: 1.6rem;
  font-family: Gotham Pro Lt;
  color: #fff;
  line-height: 1.3;
}
.forClients .serviceDesk>span>a {
  font-family: Gotham Pro Bd;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.3;
}

@media all and (max-width:800px) {
  .forClients h2 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 2rem;
  }
  .forClients .serviceDesk>span,
  .forClients .serviceDesk>span>a,
  .forClients .support>span>a,
  .forClients .support>span {
    font-size: 1.4rem;
  }
}
@media all and (max-width:500px) {
  .forClients h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
  .forClients .serviceDesk>span,
  .forClients .serviceDesk>span>a,
  .forClients .support>span>a,
  .forClients .support>span {
    font-size: 1.2rem;
  }
  .forClients .serviceDesk {
    margin-bottom: 50px;
  }
}
@media all and (max-width:390px) {
  .forClients .serviceDesk,
  .forClients .support {
    padding: 0 15px;
  }
}
@media all and (max-width:350px) {
  .forClients h2 {
    padding: 0 40px;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-top: 30px;
  }
  .forClients .serviceDesk>span,
  .forClients .serviceDesk>span>a,
  .forClients .support>span>a,
  .forClients .support>span {
    font-size: 1rem;
  }
  .forClients .serviceDesk {
    margin-bottom: 30px;
  }
}
