
.outsourcing {
  width: 100%;
  background-color: #fff;
  padding-bottom: 80px;
}
.outsourcing_block {
  width: 16.6666667%;
  height: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.outsourcing_block p {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  line-height: 1.2;
}
.outsourcing_block.tran {
  background-color: transparent;
}
.outsourcing_block.green{
  background-color: #c3ca46;
}
.outsourcing_block.green.margin {
  margin-top: 16vw;
}
.outsourcing_block.marine{
  background-color: #53947e;
}
.outsourcing_block.dark{
  background-color: #322634;
}
.outsourcing_block.grey{
  background-color: #ebebeb;
}
.outsourcing_block.tran, .outsourcing_block.grey {
  color: inherit;
}
.outsourcing_block.green, .outsourcing_block.marine,
.outsourcing_block.dark {
  color: #fff;
}
.outsourcing_block.contentPart {
  width: 50%;
  margin-left: 16.666667%;
  height: auto;
  display: block;
  padding-right: 10vw;
  position: relative;
}
.outsourcing_block.contentPart h2 {
  font-size: 2.5rem;
  font-family:  Gotham Pro Bd;
  text-align: left;
  width: 100%;
  margin-top: 5vw;
}
.outsourcing_block.contentPart h2>span {
  font-family:  Gotham Pro Lt;
  font-weight: 300;
  margin-left: 25%;
}
.outsourcing_block.contentPart p {
  text-transform: none;
  text-align: left;
  padding: 0;
  font-size: 1.1rem;
  position: relative;
  line-height: 1.4;
}
.outsourcing_block.contentPart p>span {
  margin-bottom: 15px;
  display: inline-block;
}
.outsourcing_block.contentPart .sideBoard {
  width: 4px;
  height: 170px;
  position: absolute;
  top: 3px;
  left: -54px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/sideBoard.jpg);
}

@media all and (max-width:1690px) {
  .outsourcing_block>img {
    width: 80px;
  }
  .outsourcing_block p {
    font-size: 0.9rem;
  }
  .outsourcing_block.contentPart h2 {
    font-size: 2.3rem;
    line-height: 1.4;
  }
  .outsourcing_block.contentPart h2>span {
    margin-left: 20%;
  }
}
@media all and (max-width:1460px) {
  .outsourcing_block p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
  .outsourcing_block.contentPart h2>span {
    margin-left: 10%;
  }
  .outsourcing_block.contentPart h2 {
    font-size: 2rem;
  }
  .outsourcing_block.contentPart {
    padding-right: 5vw;
  }
}
@media all and (max-width:1080px) {
  .outsourcing_block>img {
    width: 70px;
  }
  .outsourcing_block p {
    font-size: 0.6rem;
    margin-top: 15px;
  }
  .outsourcing_block.contentPart p {
    font-size: 0.9rem;
  }
}
@media all and (max-width:1005px) {
  .outsourcing_block.contentPart h2 {
    font-size: 1.8rem;
  }
}
@media all and (max-width:920px) {

  .outsourcing_block.contentPart .sideBoard {
    left: -20px;
  }
  .outsourcing_block.contentPart {
    padding-right: 1vw;
  }
  .outsourcing_block.contentPart p {
    font-size: 0.7rem;
  }

}


@media all and (max-width:860px) {

  /* OUTSOURCING */
  .outsourcing_block p {
    padding: 0 5px;
  }
  .outsourcing_block p {
    font-size: 0.5rem;
  }
  .outsourcing_block>img {
    width: 50px;
  }
}


@media all and (max-width:800px) {
/* OUTSOURCING */
  .outsourcing_block.tran {
    display: none;
  }
  .outsourcing_block.tran.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .outsourcing_block.contentPart {
    width: 100%;
    padding:0 15px;
  }
  .outsourcing_block {
    width: 33.333334%;
    height: 32vw;
  }
  .outsourcing_block.contentPart {
    width: 100%;
    margin-left: 0;
  }
  .outsourcing_block.contentPart .sideBoard {
    display: none;
  }
  .outsourcing_block.green.margin {
    margin-top: 0;
    position: absolute;
    left: 33.333334%;
    top: 32vw;
  }
  .outsourcing_block.grey {
    position: absolute;
    left: 66.666667%;
    top: 32vw;
  }
  .outsourcing_block.contentPart h2>span {
    margin-left: 25%;
  }
  .outsourcing_block.contentPart h2 {
    font-size: 2rem;
  }
  .outsourcing_block.contentPart p {
    font-size: 1rem;
  }
  .outsourcing_block>img {
    width: 33%;
  }
  .outsourcing_block p {
    font-size: 0.8rem;
  }
}
@media all and (max-width:500px) {
  /* OUTSOURCING */
  .outsourcing_block {
    width: 50%;
    height: 45vw;
  }
  .outsourcing_block.green.margin {
    left: 0;
    top: 90vw;
  }
  .outsourcing_block.grey {
    top:90vw;
    left: 50%;
  }
  .outsourcing_block.contentPart {
    margin-top: 45vw;
  }
  .outsourcing_block.contentPart h2 {
    font-size: 1.5rem;
  }
  .outsourcing_block.contentPart p {
    font-size: 0.8rem;
  }
  .outsourcing {
    padding-bottom: 40px;
  }
}


@media all and (max-width:440px) {
  .outsourcing_block.contentPart h2 {
    font-size: 1.4rem;
  }
  .outsourcing_block.contentPart h2>span {
    margin-left: 10%;
  }
}



@media all and (max-width:400px) {

  .outsourcing_block p {
    font-size: 0.6rem;
  }
}

@media all and (max-width:350px) {

  .outsourcing_block.contentPart h2 {
    font-size: 1.2rem;
  }

}

/* ================================= */
.huge_bcg {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/huge_bcg.jpg);
}
/* ================================= */

.service {
  width: 100%;
  height: 32vw;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50vw 100%;
  background-image: url(../img/typing.jpg);
}
.service>.outsourcing_block:first-child {
  margin-left: 16.66667%;
}
.service>.outsourcing_block:first-child>h2 {
  font-size: 2.5rem;
  font-family:  Gotham Pro Lt;
  text-align: left;
  width: 100%;
  font-weight: 300;
}
.service>.outsourcing_block:first-child>h2>span {
  font-family:  Gotham Pro Bl;
  margin-left: 10%;
}
.service>.outsourcing_block .title {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
}
.service>.outsourcing_block {
  padding: 0 30px;
}
.service>.outsourcing_block.marine {
  width: 33.333334%;
  padding: 0 70px;
}
.service>.outsourcing_block.marine>.topPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
.service>.outsourcing_block.marine>.topPart ul {
  padding: 0;
  margin: 0;
  text-align: left;
}
.service>.outsourcing_block.marine>.topPart ul li a {
  font-size: 1rem;
  color: #fff;
}
.service>.outsourcing_block.marine>.topPart ul li a>i {
  margin-right: 10px;
}
.service>.outsourcing_block.grey {
  margin-left: 50%;
}
.service>.outsourcing_block>a {
  display: block;
  width: 130px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 0.6rem;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.service>.outsourcing_block.grey>a {
  color: #494249;
}
.service>.outsourcing_block.marine>a {
  color: #53947e;
}
.service>.outsourcing_block.green>a {
  color: #c3ca46;
}
.service>.outsourcing_block.dark>a {
  color: #322634;
}
.service>.outsourcing_block>p {
  text-transform: none;
}
.service>.outsourcing_block.dark>p {
  font-size: 1.1rem;
}
.service>.outsourcing_block>a:hover {
  background-color: #494249;
  color: #fff;
}
.service>.outsourcing_block.grey>a:hover {
  background-color: #fff;
  color: #494249;
  border:1px solid #494249;
  line-height: 28px;
}
.service>.outsourcing_block.dark>p>span {
  font-size: 1.6rem;
  font-weight: 700;
  font-family:  Gotham Pro Bd;
}
.service>.outsourcing_block>span.index {
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 4rem;
  color: #fff;
  opacity: 0.2;
  font-family: Gotham Pro Bd;
  pointer-events: none;
}
.service>.outsourcing_block.grey>span.index {
  color: inherit;
}
.service>.outsourcing_block.grey>a {
  background-color: #494249;
  color: #ebebeb;
}

@media all and (max-width:1810px) {
  .service>.outsourcing_block:first-child>h2 {
    font-size: 2rem;
  }
}
@media all and (max-width:1550px) {
  .service>.outsourcing_block.marine>.topPart {
    margin-bottom: 15px;
  }
  .service>.outsourcing_block.marine>.topPart ul li a {
    font-size: 0.9rem;
  }
  .service>.outsourcing_block.marine>.topPart ul li {
    margin-bottom: 5px;
  }

  .service>.outsourcing_block .title {
    font-size: 1rem;
  }
  .service>.outsourcing_block {
    padding: 0 5px;
  }
  .service>.outsourcing_block>span.index {
    font-size: 3rem;
    top: 0;
    right: 0;
  }
}
@media all and (max-width:1360px) {
  .service>.outsourcing_block.marine {
    padding: 0 45px;
  }
  .service>.outsourcing_block:first-child>h2 {
    font-size: 1.8rem;
  }
  .service>.outsourcing_block p {
    margin-top: 10px;
  }
  .service>.outsourcing_block>a {
    margin-top: 10px;
  }
  .service>.outsourcing_block .title {
    font-size: 0.9rem;
  }
  .service>.outsourcing_block>span.index {
    font-size: 2.5rem;
  }
}
@media all and (max-width:1220px) {
  .service>.outsourcing_block:first-child>h2 {
    font-size: 1.5rem;
  }
  .service>.outsourcing_block .title,
  .service>.outsourcing_block.marine>.topPart ul li a {
    font-size: 0.7rem;
  }
  .service>.outsourcing_block>a {
    width: 100px;
    font-size: 0.5rem;
    line-height: 31px;
  }
  .service>.outsourcing_block.dark>p {
    font-size: 0.8rem;
  }
  .service>.outsourcing_block.dark>p>span {
    font-size: 1.4rem;
  }
  .service>.outsourcing_block p {
    font-size: 0.6rem;
  }
}
@media all and (max-width:1025px) {
  .service>.outsourcing_block:first-child>h2 {
    font-size: 1.3rem;
  }
}
@media all and (max-width:920px) {
/* SERVICE */

  .service>.outsourcing_block.tran {
    display: none;
  }
  .service>.outsourcing_block.tran.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 25%;
    width: 25%;
  }
  .service>.outsourcing_block.marine {
    width: 50%;
  }
  .service>.outsourcing_block.grey {
    margin-left: 0;
  }
  .service>.outsourcing_block.dark {
    margin-left: 50%;
  }
  .service>.outsourcing_block p {
    padding: 0 5px;
  }
  .service>.outsourcing_block.marine>.topPart {
    margin-bottom: 0;
  }
}

@media all and (max-width:800px) {
  /* SERVICE */
  .service {
    height: auto;
    background-position: top left;
    background-size: 100% auto;
  }
  .service>.outsourcing_block {
    width: 50%;
    position: relative;
    left: auto;
    top: auto;
  }
  .service>.outsourcing_block.dark {
    margin-left: 0;
  }
  .service>.outsourcing_block.tran.visible {
    margin-left: 0;
    width: 100%;
    height: 16vw;
  }
  .service>.outsourcing_block.tran.visible h2 {
    text-align: center;
    font-size: 2rem;
  }
  .service>.outsourcing_block:first-child>h2>span {
    margin-left: 20%;
  }
  .service>.outsourcing_block {
    height: 180px;
  }
  .service>.outsourcing_block .title {
    font-size: 0.9rem;
  }
  .service>.outsourcing_block p {
    font-size: 0.8rem;
    max-width: 250px;
  }
  .service>.outsourcing_block.marine {
    padding: 0 10px;
  }
}


@media all and (max-width:640px) {
  /* SERVICE  */
  .service>.outsourcing_block.tran.visible {
    height: 32vw;
  }
  .service>.outsourcing_block.marine {
    padding: 0 10px;
  }

}

@media all and (max-width:530px) {
  .service>.outsourcing_block .title {
    font-size: 0.8rem;
  }
}

@media all and (max-width:500px) {
  /* SERVICE  */
  .service>.outsourcing_block,
  .service>.outsourcing_block.marine {
    width: 100%;
    height: 190px;
  }
  .service>.outsourcing_block.grey {
    top: 0;
    left: 0;
  }
  .service>.outsourcing_block.marine>.topPart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service>.outsourcing_block.marine>.topPart ul {
    margin-left: 15px;
  }
  .service>.outsourcing_block>a   {
    margin-top: 20px;
  }
  .service>.outsourcing_block p {
    margin-top: 15px;
  }
}
@media all and (max-width:400px) {
  .service>.outsourcing_block.marine>.topPart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service>.outsourcing_block.marine>.topPart .title {
    text-align:  left;
    margin-bottom: 15px;
  }
  .service>.outsourcing_block .title {
    font-size: 1rem;
  }
  .service>.outsourcing_block.dark>p {
    font-size: 1rem;
  }
  .service>.outsourcing_block,
  .service>.outsourcing_block.marine {
    padding: 0 30px;
    height: 250px;
  }
  .service>.outsourcing_block.tran.visible {
    height: 200px;
  }
  .service>.outsourcing_block.tran.visible h2 {
    margin-top: 0;
    margin-bottom: 80px;
  }

}


/* ================================ */
.how {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/how_bcg.png);
  padding-bottom: 90px;
}
.how .container {
  height: 760px;
}
.how h2 {
  font-size: 2.7rem;
  font-family:  Gotham Pro Lt;
  width: 100%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 100px;
  font-weight: 300;
}
.how h2>span {
  font-family:  Gotham Pro Bd;
}
.how .rightPart {
  width: 50%;
  margin-left: 50%;
  background-color: #fff;
  float: none;
}
.how_block {
  width: 50%;
  margin-bottom: 30px;
  padding-right: 60px;
}
.how_block>.img_wrap {
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
}
.how_block>.img_wrap>img {
  width: 60px;
}
.how_block>.text {
  font-size: 1rem;
  font-family:  Gotham Pro Lt;
  font-weight: 300;
}


@media all and (max-width:1550px) {
  .how h2 {
    font-size: 2.5rem;
  }
}
@media all and (max-width:1320px) {
  .how h2 {
    font-size: 2rem;
    margin-top: 90px;
    margin-bottom: 70px;
  }
  .how_block {
    padding-right: 25px;
  }
  .how_block>.text {
    font-size: 0.8rem;
  }
  .how_block>.img_wrap>img {
    width: 50px;
  }
  .how .container {
    height: auto;
  }
}
@media all and (max-width:1080px) {
  .how_block {
    padding-right: 20px;
  }
  .how_block>.text {
    font-size: 0.7rem;
  }
}
@media all and (max-width:920px) {
/* HOW */

.how {
  padding-bottom: 60px;
}
.how h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 1.8rem;
}
.how_block>.img_wrap>img {
  width: 30px;
}
.how_block>.img_wrap {
  margin-bottom: 10px;
}
.how_block {
  margin-bottom: 20px;
}
}

@media all and (max-width:800px) {
  /* HOW */
  .how_block>.text {
    font-size: 0.8rem;
  }
  .how_block>.img_wrap>img {
    width: 50px;
  }
  .how {
    background-image: url(../img/how_bcg_tablet.png);
  }
}


@media all and (max-width:640px) {
  /* HOW */
  .how {
    background-position: top left;
    background-size: 35%;
    padding-bottom: 0;
  }
  .how .rightPart {
    width: 100%;
    margin-left: 0;
  }
  .how_block {
    text-align: center;
    padding: 0 20px;
  }
  .how_block>.img_wrap {
    text-align: center;
  }
}
@media all and (max-width:500px) {
  /* HOW */
  .how {
    background-size: 45%;
  }
  .how_block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  .how_block>.img_wrap {
    width:auto;
    margin-right: 20px;
  }
  .how_block>.text {
    text-align: left;
    font-size: 1rem;
  }
  .how_block>.img_wrap>img {
    width: 55px;
  }
}


@media all and (max-width:440px) {
  /* HOW */
  .how h2 {
    font-size: 1.6rem;
    width: 80%;
    margin-left: 10%;
  }
}



@media all and (max-width:400px) {
  .how {
    background-size: 40%;
  }
}

/* ============================== */
.feedback {
  width: 100%;
}
.feedback h2 {
  font-size: 2.7rem;
  font-family:  Gotham Pro Lt;
  width: 100%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 100px;
  font-weight: 300;
}
.feedback h2>span {
  font-family:  Gotham Pro Bl;
}
.feedback_slider_wrap {
  width: 100%;
  padding-bottom: 100px;
}
.feedback .leftPart {
  width: 29.333334%;
  height: 32vw;
  margin-left: 16.666667%;
  padding: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/feedback_bcg.jpg);
  margin-right: 4%;
}
.feedback .leftPart .leftPart_wrap {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.feedback .leftPart .leftPart_wrap>p {
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  display: none;
  padding: 0;
  margin: 0;
}
.feedback .leftPart .leftPart_wrap>p>span {
  display: inline-block;
  margin-bottom: 20px;
}
.feedback .leftPart .leftPart_wrap>p.active {
  display: block;
}
.feedback .rightPart {
  width: 50%;
  height: 32vw;
  position: relative;
  overflow: hidden;
}
.feedback .rightPart .controls {
  position: absolute;
  width: 100%;
  top: 50%;
}
.feedback .rightPart .controls>div {
  width: 35px;
  height: 95px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  opacity: 0.5;
  cursor: pointer;
}
.feedback .rightPart .controls>div:hover {
  opacity: 1;
}
.feedback .rightPart .controls>.prev {
  background-image: url(../img/slider_arrow_left.png);
  left: 10px;
}
.feedback .rightPart .controls>.next {
  background-image: url(../img/slider_arrow_right.png);
  right: 10px;
}
.feedback .rightPart .feedback_slider {
  height: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.feedback .rightPart .feedback_slider .feedback_box {
  height: 32vw;
}
.feedback .rightPart .feedback_slider .feedback_box>.feedback_block {
  width: 100%;
  height: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n-1)>.feedback_block:first-child {
  background-color: #53947e;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n-1)>.feedback_block:last-child {
  background-color: #c3ca46;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n)>.feedback_block:first-child {
  background-color: #322634;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n)>.feedback_block:last-child {
  background-color: #ebebeb;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n-1)>.feedback_block.active:first-child {
  background-color: #fff;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n-1)>.feedback_block.active:last-child {
  background-color: #fff;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n)>.feedback_block.active:first-child {
  background-color: #fff;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n)>.feedback_block.active:last-child {
  background-color: #fff;
}
.feedback_block .name {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-family:  Gotham Pro Bd;
}
.feedback_block .position {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  color: #fff;
}
.feedback_block .city {
  font-size: 0.9rem;
  font-family:  Gotham Pro Bd;
  text-align: center;
  width: 100%;
  color: #fff;
}
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n)>.feedback_block:last-child .name,
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n)>.feedback_block:last-child .position,
.feedback .rightPart .feedback_slider .feedback_box:nth-child(2n)>.feedback_block:last-child .city {
  color: inherit;
}
.feedback .rightPart .feedback_slider .feedback_box .feedback_block.active {
  background-color: #fff;
  border: 3px solid #c3ca46;
}
.feedback_block.active .name {
  color:inherit;
}
.feedback_block.active .position {
  color:inherit;
}
.feedback_block.active .city {
  color:inherit;
}


@media all and (max-width:1700px) {
  .feedback .leftPart {
    padding: 60px;
  }
  .feedback .leftPart .leftPart_wrap>p {
    font-size: 1rem;
  }
}

@media all and (max-width:1550px) {
  .feedback h2 {
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 2.5rem;
  }
  .feedback_block .name {
    font-size: 1rem;
  }
  .feedback_block .position, .feedback_block .city {
    font-size: 0.8rem;
  }
}
@media all and (max-width:1320px) {
  .feedback .leftPart {
    padding: 40px;
  }
  .feedback .leftPart .leftPart_wrap>p {
    font-size: 0.8rem;
  }
  .feedback h2 {
    font-size: 2rem;
  }
  .feedback_block .name {
    font-size: 0.9rem;
  }
  .feedback_block .position, .feedback_block .city {
    font-size: 0.7rem;
  }
  .feedback .rightPart .controls>div {
    width: 25px;
    height: 65px;
  }
}
@media all and (max-width:1080px) {
  .feedback .leftPart {
    padding: 30px;
  }
  .feedback .leftPart .leftPart_wrap>p {
    font-size: 0.7rem;
  }
  .feedback h2 {
    font-size: 1.8rem;
  }
  .feedback_block .name {
    font-size: 0.8rem;
  }
  .feedback_block .position, .feedback_block .city {
    font-size: 0.6rem;
  }
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block {
    padding: 0 20px;
  }
}
@media all and (max-width:1024px) {
  .feedback .rightPart .controls>div {
    width: 20px;
    height: 50px;
  }
}
@media all and (max-width:920px) {
/* FEEDBACK */
.feedback h2 {
  margin-top: 60px;
  margin-bottom: 40px;
}
.feedback .leftPart {
  width: 42%;
  margin-left: 4%;
}
.feedback_block .name {
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.feedback .rightPart .feedback_slider .feedback_box>.feedback_block {
  padding: 0 5px;
}
}
@media all and (max-width:800px) {
  /* FEEDBACK */
  .feedback_slider_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .feedback .rightPart .feedback_slider {
    height: 40vw;
  }
  .feedback .leftPart {
    width: 95%;
    max-width: 700px;
    min-width: 320px;
    height: auto;
    margin: 0;
    margin-top: 30px;
  }
  .feedback .rightPart {
    width: 80%;
    height: 40vw;
  }
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block {
    height: 20vw;
  }
  .feedback_block .name {
    font-size: 1rem;
  }
  .feedback_block .position, .feedback_block .city {
    font-size: 0.8rem;
  }
  .feedback .leftPart .leftPart_wrap>p {
    font-size: 0.9rem;
  }
  .feedback_slider_wrap {
    padding-bottom: 60px;
  }
}


@media all and (max-width:640px) {

  /* FEEDBACK */
  .feedback .rightPart {
    width: 100%;
    height: 32vw;
  }
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block {
    width: 50%;
  }
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block,
  .feedback .rightPart .feedback_slider {
    height: 32vw;
  }
  .feedback .rightPart .feedback_slider .feedback_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 66.666666666667vw;
  }
}

@media all and (max-width:500px) {
  /* FEEDBACK */
  .feedback h2 {
    margin-top: 50px;
  }
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block,
  .feedback .rightPart .feedback_slider,
  .feedback .rightPart .feedback_slider .feedback_box,
  .feedback .rightPart {
    height: 45vw;
  }
}

@media all and (max-width:400px) {
  /* FEEDBACK */
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block,
  .feedback .rightPart .feedback_slider,
  .feedback .rightPart .feedback_slider .feedback_box, .feedback .rightPart {
    height: 55vw;
  }
}

@media all and (max-width:350px) {
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block,
  .feedback .rightPart .feedback_slider,
  .feedback .rightPart .feedback_slider .feedback_box, .feedback .rightPart {
    height: 80vw;
  }
  .feedback_block .name {
    margin-bottom: 20px;
  }
  .feedback .rightPart .feedback_slider .feedback_box>.feedback_block {
    padding: 0 40px;
  }
}


/* ============================ */
.form {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/form_bcg.jpg);
}
.form .form_wrap {
  width: 50%;
  background-color: #322634;
  padding: 50px;
  color: #fff;
  text-align: center;
}
.form .form_wrap>.title {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Gotham Pro Lt;
}
.form .form_wrap>p {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  line-height: 1.6;
}
.form .form_wrap>p>a[href="tel:+74956637271"] {
  font-family: Gotham Pro Bd;
}
.form .form_wrap>p>a[href="mailto:info@hypermetrica.ru"] {
  color:#c3ca46;
}
.form .form_wrap form {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  float: left;
  padding-bottom: 30px;
}
.form .form_wrap form>.input_wrap {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
.form .form_wrap form>.input_wrap>.title {
  font-size: 0.8rem;
  color: #fff;
}
.form .form_wrap form>.input_wrap>.title>span {
  color:#c3ca46;
}
.form .form_wrap form>.input_wrap>input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #5c505c;
  color: #aea7ae;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form .form_wrap form>.input_wrap>.placeholder {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 0.9rem;
  color: #aea7ae;
}
.form .form_wrap form>.input_wrap>input[type="phone"] {
  padding-left: 20px;
}
.form .form_wrap form>.input_wrap>input.website {
  padding-left: 40px;
}
.form .form_wrap form>.checkbox_wrap {
  width: 100%;
  text-align: center;

}
.form .form_wrap form>.checkbox_wrap>input {
  display: none;
}
.form .form_wrap form>.checkbox_wrap>label {
  font-size: 0.8rem;
  color: #aea7ae;
  width: 100%;
  position: relative;
  cursor: pointer;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding-left: 30px;
  display: block;
}
.form .form_wrap form>.checkbox_wrap>label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border:1px solid #5c505c;
  position: absolute;
  left: 0px;
  top: -5px;
}
.form .form_wrap form>.checkbox_wrap>input:checked + label:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/checked.png);
}
.form .form_wrap form>button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #c3ca46;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: Gotham Pro Bd;
  margin-top: 50px;
}



@media all and (max-width:1320px) {
  .form .form_wrap {
    padding: 0 30px;
  }
  .form .form_wrap>.title {
    font-size: 2rem;
    margin-top: 30px;
  }
  .form .form_wrap>p {
    font-size: 0.7rem;
  }
  .form .form_wrap form {
    margin-top: 15px;
  }
  .form .form_wrap form>.input_wrap {
    margin-bottom: 30px;
  }
  .form .form_wrap form>button {
    margin-top: 20px;
  }
  .form .form_wrap form>.checkbox_wrap>label:before {
    top: 0;
  }
}
@media all and (max-width:1080px) {
  .form .form_wrap>.title {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .form .form_wrap>p {
    font-size: 0.6rem;
    margin-bottom: 10px;
  }
  .form .form_wrap form {
    padding: 0 10px;
    padding-bottom: 30px;
  }
  .form .form_wrap form>.input_wrap>.title {
    font-size: 0.6rem;
  }
  .form .form_wrap form>.input_wrap>input {
    height: 25px;
    font-size: 0.7rem;
  }
  .form .form_wrap form>.input_wrap>.placeholder {
    font-size: 0.7rem;
    bottom: 7px;
  }
  .form .form_wrap form>.input_wrap>input[type="phone"] {
    padding-left: 15px;
  }
  .form .form_wrap form>.input_wrap>input.website {
    padding-left: 31px;
  }
  .form .form_wrap form>.checkbox_wrap>label {
    font-size: 0.6rem;
  }
  .form .form_wrap form>.checkbox_wrap>label:before {
    width: 15px;
    height: 15px;
  }
  .form .form_wrap form>button {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    font-size: 0.6rem;
  }
}
@media all and (max-width:920px) {
/* FORM */
.form>.container {
  padding: 0;
}
}

@media all and (max-width:800px) {
  /* FORM */
  .form {
    background-image: none;
  }
  .form .form_wrap {
    width: 100%;
  }
  .form .form_wrap>.title {
    font-size: 2rem;
  }
  .form .form_wrap>p,
  .form .form_wrap form>.input_wrap>.title {
    font-size: 0.9rem;
  }
  .form .form_wrap form>.input_wrap>input {
    height: 50px;
    font-size: 0.9rem;
  }
  .form .form_wrap form>.input_wrap>.placeholder {
    font-size: 0.9rem;
    bottom: 19px;
  }
  .form .form_wrap form>.input_wrap>input[type="phone"] {
    padding-left: 20px;
  }
  .form .form_wrap form>.input_wrap>input[type="phone"] ~ .placeholder {
    bottom: 20px;;
  }
  .form .form_wrap form>.input_wrap>input.website {
    padding-left: 40px;
  }
  .form .form_wrap form>.checkbox_wrap>label {
    font-size: 0.9rem;
  }
  .form .form_wrap form>button {
    width: 200px;
    height: 50px;
    font-size: 0.9rem;
    border-radius: 25px;
    margin-top: 40px;
  }
  .form .form_wrap form {
    padding-bottom: 50px;
  }
}
@media all and (max-width:500px) {
  /* FORM */
  .form .form_wrap>.title {
    font-size: 1.6rem;
  }
  .form .form_wrap>p>a[href="tel:+74956637271"] {
    display: block;
  }
  .form .form_wrap {
    padding: 0 15px;
  }
  .form .form_wrap form {
    padding-left: 0;
    padding-right: 0;
  }

}
@media all and (max-width:350px) {

  .form .form_wrap form>button {
    font-size: 0.7rem;
  }

}
@media all and (max-width:320px) {
  .form .form_wrap>p>a[href="tel:+74956637271"] {
  display: inline-block;
  }
}
